body {
  background-image: url('../assets/more-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}
.menu-bar li.left {
  font-family: 'Rock Salt', cursive;
  color: #f5ddb0;
  float: left;
  box-sizing: border-box;
}

.menu-bar li.right{
  box-sizing: border-box;
  float: right;
}

.nav{
  margin: 0px;
  width: 100%;
  text-align: center;
  background: rgb(116,151,170,0.4);
  overflow: hidden;
  border-bottom-right-radius:5% 40px;
  border-bottom-left-radius:5% 40px;
}
.menu-bar{
  margin: 0px;
  overflow: hidden;
  margin-inline-end: 40px;
  padding-inline-start: 20px;
}
.menu-bar li{
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}


/*---------------------------------------------*/
/* Dio koda za buttone */
@import "bourbon";

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 10px;

  display: inline-block;
  position: relative;
  text-align: center;
  color: #f5ddb0;
  border: 2px solid #f5ddb0;
  border-radius:5px;

  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;

  box-shadow: 0 0 0 0 transparent;

  transition: all 0.2s ease-in;
  }
  .button:hover:before {
    animation: shine 0.5s 0s linear;
  }
  .button:hover {
    color: white;
    box-shadow: 0 0 30px 0 ;
    box-shadow-transparentize: #f5ddb0, 0.5;
    background-color: #f5ddb0;

    transition: all 0.2s ease-out;
}
.button:hover:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.button:hover:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;

  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

@include keyframes(shine) {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
/*---------------------------------------------*/
/* za login i register */

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0; }


#link:focus, #link:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

.podaci, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

.podaci::-webkit-outer-spin-button, .podaci::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

.podaci:focus, .podaci:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

/*
.podaci[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

.podaci[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }
*/
figure {
  margin: 0; }

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }


.main {
  background: #f8f8f8;
  padding: 150px 0; }

.clear {
  clear: both; }

.container {
  width: 500px;
  background-color: rgb(256,256, 256, 0.8);
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup {
  margin-top: 50px; }

.signup-content {
  padding: 25px 0; }

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden;
  text-align: center; }

.signup-image {
  margin: 0 55px; }

.form-title {
  margin-bottom: 33px; }

.signup-image {
  margin-top: 45px; }

figure {
  margin-bottom: 50px;
  text-align: center; }


#signin {
  margin-top: 16px; }

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; }

.term-service {
  font-size: 13px;
  color: #222; }

.signup-form {
  margin-left: 100px;
  margin-right: 100px;
}

.register-form {
  width: 100%; }

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

.podaci {
  background-color: rgb(256,256, 256, 0.1);
  width: 100%;
  display: block;
  border: none;
  font-family: 'Exo 2', sans-serif;
  border-bottom: 1px solid #999;
  padding: 6px 40px;
  box-sizing: border-box; }
  .podaci::-webkit-input-placeholder {
    color: #999; }
  .podaci::-moz-placeholder {
    color: #999; }
  .podaci:-ms-input-placeholder {
    color: #999; }
  .podaci:-moz-placeholder {
    color: #999; }
  .podaci:focus {
    border-bottom: 1px solid #222; }
    .podaci:focus::-webkit-input-placeholder {
      color: #222; }
    .podaci:focus::-moz-placeholder {
      color: #222; }
    .podaci:focus:-ms-input-placeholder {
      color: #222; }
    .podaci:focus:-moz-placeholder {
      color: #222; }

.podaci[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

.podaci[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px; }

.podaci[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

.podaci[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

.podaci[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

.agree-term {
  display: inline-block;
  width: auto; }

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

.label-has-error {
  top: 22%; }

label.error {
  position: relative;
  background: url("../images/unchecked.gif") no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px; }

label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent; }
  label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0); }

.material-icons-name {
  font-size: 18px; }

.signin-content {
  padding-top: 50px;
  padding-bottom: 50px; }

.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px; }

.social-label {
  display: inline-block;
  margin-right: 15px; }

.socials li {
  padding: 5px; }
  .socials li:last-child {
    margin-right: 0px; }
  .socials li a {
    text-decoration: none; }
    .socials li a i {
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      transform: translateZ(0);
      -moz-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      -o-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0); }

.zmdi-facebook {
  background: #3b5998; }

.zmdi-twitter {
  background: #1da0f2; }

.zmdi-google {
  background: #e72734; }

.signin-form {
  margin-right: 100px;
  margin-left: 90px; }

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }

@media screen and (max-width: 400px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 400px; } }
@media screen and (max-width: 768px) {
  .signup-content, .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px; }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2; }

  .signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }

  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

  .form-button {
    text-align: center; }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }

    .form-title {
      text-align: center; } }

.form-title {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  line-height: 1.66;
  font-size: 30px;}

@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px; } }

.sign-in{
  margin: 100px;
}
/*------------------------------------------------------------*/

.index{
  margin-top: 20px;
  background-color: #11ffee00;  /* Fully transparent */
}
.center{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #11ffee00;  /* Fully transparent */
}
.main{
  background-color: #11ffee00;  /* Fully transparent */
}

.search{
  text-align: center;
  background-color: #11ffee00;  /* Fully transparent */
}

.main{
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-title{
  font-size: 3em;
  font-family: Garamond;
  margin-bottom: 0px;
}
.main-small{
  font-size: 2em;
  font-family: Garamond;
  margin-top: 0px;
}

/*------------------------------------------------------*/
/* za serch opciju*/


div.wrap {
  width: 100%;
  margin:0px;
  position: relative;
  display: inline-block;
}

div.wrap div {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  width: 40%;
}

div.l{
  float: left;
}
div.r{
  float: right;
}

label {
  position: absolute;
  top: 5px;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
  background-color: #11ffee00;
  -webkit-transition: top .2s ease-in-out,
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out,
              font-size .2s ease-in-out;
  color: white;
  font-family: Garamond;
  font-weight: bold;
}

.active {
  top: -25px;
  font-size: 1em;
}

.cool[type=text] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f5ddb0;
  font-size: 1em;
  background-color: #f5ddb0;
  color: white;
  font-family: Garamond;
}

.cool[type=text]:focus {
  outline: none;
  border-radius: 5px;
  background-color: #f5ddb0;
  font-family: Garamond;
}

/*-------------------------------------------------------*/
.button-submit:disabled,
.button-submit[disabled]{
  border-color: #999999;
  background-color: #dad8d8;
  color: #666666;
}
.button-submit:hover {
  color: white;
  box-shadow: 0 0 30px 0 ;
  background-color: #306a82;

  transition: all 0.2s ease-out;
}
.button-submit{
  color: #306a82;
  border-color: #306a82;
  background-color: #11ffee00;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 10px;

  display: inline-block;
  position: relative;
  text-align: center;
  border: 2px solid;
  border-radius:5px;

  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;

  transition: all 0.2s ease-in;
}



/*------------------------------------*/
.ispod{
  width: 100%;
  margin-top: 70px;
  margin-left: 20px;
  display: inline-block;
}

.slider {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  /*width:200px;*/

  padding-left: 30%;
  padding-right: 30%;
  /*height:6px;*/

  background-color: #f5ddb0;
  box-sizing: border-box;
}

.slider.focusable {
  border: 1px solid #222
}

.thumb {
  cursor: pointer;
  border-color: #333;
  border-style: solid;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 50%;
  position: absolute;
  /*top:-6px;left:50px;*/
}

.track {
  pointer-events: none;
  height: 100%;
  background-color: #e3a70e;
}

.nivo {
  position: relative;
  margin: 10px;
  width: 35%;
}

.output {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #f5ddb0;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
  /*left:45px;*/

  ;
}

.output p {
  pointer-events: none;
  font-size: 14px;
  color: #0a1a17;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top:0;

}

.slider2 {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  /*width:200px;*/

  padding-left: 30%;
  padding-right: 30%;
  /*height:6px;*/

  background-color: #f5ddb0  ;
  box-sizing: border-box;
}

.slider2.focusable {
  border: 1px solid #222
}

.thumb2 {
  cursor: pointer;
  border-color: #333;
  border-style: solid;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 50%;
  position: absolute;
  /*top:-6px;left:50px;*/
}

.track2 {
  pointer-events: none;
  height: 100%;
  background-color: #e3a70e;
}

.nivo2 {
  position: relative;
  margin: 10px;
  width: 35%;
}

.output2 {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #f5ddb0  ;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
  /*left:45px;*/
}

.output2 p {
  pointer-events: none;
  font-size: 14px;
  color: #0a1a17;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top:0;
}

/*-----------------------------------------------------*/
/*checkbox*/
/* The container */
.checkbox-con {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-con input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-con:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-con input:checked ~ .checkmark {
  background-color: #e3a70e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-con input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-con .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* The container */
.radio-con {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-con input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-con:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add background */
.radio-con input:checked ~ .checkmark-radio {
  background-color: #e3a70e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-con input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-con .checkmark-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*-------------------------------------------*/
/*dio za prikazivanje brodova*/
.popis{
  width:100%;
  display: inline-block;
}
.rezultat{
  float:left;
  margin:10px;
  height: 200px;
  width: 23%;
  margin-left: 20px;
  margin-right: 20px;
  background-color:  rgb(245, 221, 176, 0.8);
  border-radius: 10px;
  text-align: center;
}
.brodic{
  position:relative;
  width:50px;
  height:50px;  /*moze s epovecat i u drugom redu dodat zvjezdice*/
  float:left;
  margin-left: 20px;
  margin-top: 10px;
}
.rezervacija{
  margin-top:5px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #306a82;
  color:#306a82;
  font-family: 'Exo 2', sans-serif;
  font-size:15px;
  font-weight: bold;

}